@font-face {
    font-family: "icons";
    src: url("./icons.eot?f5a57f08501004a99778a2429dbbbd9d?#iefix") format("embedded-opentype"),
url("./icons.woff2?f5a57f08501004a99778a2429dbbbd9d") format("woff2"),
url("./icons.woff?f5a57f08501004a99778a2429dbbbd9d") format("woff"),
url("./icons.ttf?f5a57f08501004a99778a2429dbbbd9d") format("truetype"),
url("./icons.svg?f5a57f08501004a99778a2429dbbbd9d#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-2x {
    font-size: 2em;
  }

.icon-2-2x {
    font-size: 2.2em;
  }
.icon-3x {
    font-size: 3em;
  }

.icon-fin-bt-zoom-info1:before {
    content: "\f101";
}
.icon-fin-bt-zoom-info2:before {
    content: "\f102";
}
.icon-fin-bt-zoom-m1-b:before {
    content: "\f103";
}
.icon-fin-bt-zoom-m1-w:before {
    content: "\f104";
}
.icon-fin-bt-zoom-m1:before {
    content: "\f105";
}
.icon-fin-bt-zoom-m2-b:before {
    content: "\f106";
}
.icon-fin-bt-zoom-m2:before {
    content: "\f107";
}
.icon-fin-bt-zoom-p1-w:before {
    content: "\f108";
}
.icon-fin-bt-zoom-p1-w2:before {
    content: "\f109";
}
.icon-fin-bt-zoom-p1:before {
    content: "\f10a";
}
.icon-fin-bt-zoom-p2-b:before {
    content: "\f10b";
}
.icon-fin-bt-zoom-p2:before {
    content: "\f10c";
}
.icon-fin-logo-de:before {
    content: "\f10d";
}
.icon-fin-logo-en:before {
    content: "\f10e";
}
.icon-fin-logo-FR:before {
    content: "\f10f";
}
.icon-fin-logo-NL:before {
    content: "\f110";
}
.icon-fin-pict-bug:before {
    content: "\f111";
}
.icon-fin-pict-bugcreate:before {
    content: "\f112";
}
.icon-fin-pict-color:before {
    content: "\f113";
}
.icon-fin-pict-contact:before {
    content: "\f114";
}
.icon-fin-pict-contrast:before {
    content: "\f115";
}
.icon-fin-pict-delete:before {
    content: "\f116";
}
.icon-fin-pict-download:before {
    content: "\f117";
}
.icon-fin-pict-draw:before {
    content: "\f118";
}
.icon-fin-pict-drawcircle:before {
    content: "\f119";
}
.icon-fin-pict-drawline:before {
    content: "\f11a";
}
.icon-fin-pict-drawpoint:before {
    content: "\f11b";
}
.icon-fin-pict-drawpoly:before {
    content: "\f11c";
}
.icon-fin-pict-drawtext:before {
    content: "\f11d";
}
.icon-fin-pict-email:before {
    content: "\f11e";
}
.icon-fin-pict-fullextend-w:before {
    content: "\f11f";
}
.icon-fin-pict-fullextend:before {
    content: "\f120";
}
.icon-fin-pict-fullscreen-false:before {
    content: "\f121";
}
.icon-fin-pict-fullscreen-w:before {
    content: "\f122";
}
.icon-fin-pict-fullscreen:before {
    content: "\f123";
}
.icon-fin-pict-help-blue:before {
    content: "\f124";
}
.icon-fin-pict-help:before {
    content: "\f125";
}
.icon-fin-pict-history:before {
    content: "\f126";
}
.icon-fin-pict-infos:before {
    content: "\f127";
}
.icon-fin-pict-layers-b:before {
    content: "\f128";
}
.icon-fin-pict-layers-w:before {
    content: "\f129";
}
.icon-fin-pict-layers:before {
    content: "\f12a";
}
.icon-fin-pict-link:before {
    content: "\f12b";
}
.icon-fin-pict-locate:before {
    content: "\f12c";
}
.icon-fin-pict-login_1:before {
    content: "\f12d";
}
.icon-fin-pict-login:before {
    content: "\f12e";
}
.icon-fin-pict-logout:before {
    content: "\f12f";
}
.icon-fin-pict-measure:before {
    content: "\f130";
}
.icon-fin-pict-measureline:before {
    content: "\f131";
}
.icon-fin-pict-measuresurf:before {
    content: "\f132";
}
.icon-fin-pict-param:before {
    content: "\f133";
}
.icon-fin-pict-picture:before {
    content: "\f134";
}
.icon-fin-pict-position:before {
    content: "\f135";
}
.icon-fin-pict-print-b:before {
    content: "\f136";
}
.icon-fin-pict-print-w:before {
    content: "\f137";
}
.icon-fin-pict-print:before {
    content: "\f138";
}
.icon-fin-pict-search:before {
    content: "\f139";
}
.icon-fin-pict-share-blue:before {
    content: "\f13a";
}
.icon-fin-pict-share:before {
    content: "\f13b";
}
.icon-fin-pict-tools-b:before {
    content: "\f13c";
}
.icon-fin-pict-tools-w:before {
    content: "\f13d";
}
.icon-fin-pict-tools:before {
    content: "\f13e";
}
.icon-fin-pict-web:before {
    content: "\f13f";
}
.icon-fin-pict-zoomm:before {
    content: "\f140";
}
.icon-fin-pict-zoomp:before {
    content: "\f141";
}
