.label-lang-switch li{
  display: inline;
}

li a{
  background-color: white;
}

li .active{
  background-color: grey;
}

li a:hover{
  background-color: lightgray;
}

.customClass .tooltip-inner {
  width: 800px !important;
  background-color: red;
}
